body {
  /*background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);*/
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  margin-bottom: 400px;
}

.container {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  max-width: 500px;
  padding: 30px;
  padding-top: 25px;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1 {
  font-size: 90px;
  padding-top: 23px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  padding-left: 6px;
  padding-top: 36px;
}

h3 {
  font-size: 17px;
  line-height: 25px;
  padding-top: 30px;
}

h4 {
  font-size: 18px;
  padding-bottom: 15px;
}

p {
  padding-top: 35px;
}

a {
  color: black;
}

.temperature {
  font-size: 44px;
}

.day {
  font-weight: 700;
}

.small-emoji {
  font-size: 40px;
}

#current-day,
#current-time {
  font-size: 14px;
}

#temp-change {
  font-size: 18px;
  position: relative;
  bottom: 22px;
  left: 5px;
}

.github-footer {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  padding-top: 0;
  text-align: center;
}

.github-link {
  /*color: #4c81c7;*/
  color: rgba(0, 0, 0, 0.5);
}

.day-and-time {
  font-size: 14px;
  padding-top: 20px;
}

h1,
h2,
h3,
h4,
p::first-letter {
  text-transform: capitalize;
}
